@import "~bootstrap/scss/bootstrap.scss";

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3rem;
    background-color: rgb(138, 132, 132);
}

.container{
    margin: 0;
    padding: 0;
}
.allSongsList{
    list-style-type: none;
}
